* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  display: none !important;
}

.page {
  margin: auto;
  width: 1140px;
  margin-top: 20px;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 60vh;
  margin: 0;
  padding: 0;
}
